{{nav-bar
  content=myContent
  selection=selectedOption
  disabled=shouldDisable
  optionLabelPath="label"
  optionValuePath="value"
  prompt="Select a category"
  class='my-ember-select-widget'
  willChangeAction='selectOption'
  didChangeAction='anotherAction'

  searchBestBuy="searchBestBuy"
}}

<h1 class="loginTitle">WatchList</h1>

<form {{action 'authenticate' on='submit'}}>
  <p>{{input id='identification' placeholder='Email' value=identification}}</p>
  <p>{{input id='password' placeholder='Password' type='password' value=password}}</p>
  <button type="submit">LOGIN</button>
</form>

{{#if errorMessage}}
  <p>Login failed: {{errorMessage}}</p>
{{/if}}

<button {{action 'routeToCreateAccount'}}>CREATE ACCOUNT</button>
