{{nav-bar
  content=myContent
  selection=selectedOption
  disabled=shouldDisable
  optionLabelPath="label"
  optionValuePath="value"
  prompt="Select a category"
  class='my-ember-select-widget'
  willChangeAction='selectOption'
  didChangeAction='anotherAction'

  searchBestBuy="searchBestBuy"
}}

<div class="container">
  <h1>Search Results:</h1>
  {{#if model.products}}
    {{#each model.products as |product|}}
      <div class="col-sm-6 resultPanel">
        <a href={{product.url}} target="_blank"><img class="product-img" src="{{product.image}}">
        <p>{{product.name}}</p></a>
        <p>Normal Price: ${{product.regularPrice}}</p>
        {{#if product.onSale}}
          <p class="saletag">On Sale: ${{product.salePrice}}</p>
          <p>You save ${{product.dollarSavings}}!</p>
          <a href={{product.url}} target="_blank"><button>Buy Now</button></a>
          {{else}}
          <button id={{product.upc}} {{action 'addToList' product}}>Watch This!</button>
        {{/if}}
      </div>
    {{/each}}
  {{else}}
  <div id='shrug'>
    ¯\_(ツ)_/¯
  </div>  
  {{/if}}
</div>
